.category {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-height: 60%;
}

@media screen and (min-width:768px) {
  .category {
      max-width: 40%;
    }
}

@media screen and (min-width:1200px) {
  .category {
    max-width: 30%;
  }
}

.category h3 {
  font-size: 1.5rem;
  color: #359132;
}


.landing-ul {
  display: flex;
  flex-direction: column;
  flex-basis: content;
}
.landing-ul li {
  padding: 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  color: #fff;
  font-weight: 600;
  min-height: 10rem;
  text-shadow: 1px 2px #666;
  list-style: none;
  margin: 1.2rem;
  border-radius: 15px;
  background-color: rgba(98, 180, 221, 0.5);
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase;
}
.landing-ul li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.sectionContainer {
  background-image:  url(../Images/world-4292933_1280.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-left: 15px;
    padding-bottom: 15px;
}
.category-text {
  align-self: flex-end;
}